<div class="header-component">
  <h2 style="margin:0">Lista Clienti</h2>
  <span style="color:#999">Seleziona un cliente per aggiungerlo al carrello</span>
</div>

<div class="customers-list">

  <div class="customers-grid">
    @for (cliente of clienteService.listaClienti(); track cliente.codice) {
      <div class="customer-card">
        <div class="customer-details">
          <div class="customer-text">
            <span class="customer-name">{{ cliente.nome }} {{ cliente.cognome }}</span>
            <span class="customer-info">[{{ cliente.dataNascita ? clienteService.calcolaEta(cliente.dataNascita) : 'N/A' }} anni]</span>
          </div>
          <div class="customer-icons">
            @if (cliente.hasFidelityCard) {
              <span style="font-size:32px">💳</span> }
            @if (cliente.hasDisabilita) {
              <span style="font-size:32px">♿</span> }
          </div>
        </div>

        <div class="customer-group">
          @if (cliente.idGruppo) {
            @if (this.gruppoService.getGruppo(cliente.idGruppo)) {
              {{ 'Gruppo: ' + this.gruppoService.getGruppo(cliente.idGruppo)!.nome + ' (' + this.gruppoService.getGruppo(cliente.idGruppo)!.arClienti.length + ' persone)' }}
            } @else {
              Nessun gruppo trovato
            }
          } @else {
              Nessun gruppo associato
          }
        </div>
        
        <button mat-button class="select-button" (click)="this.carrelloService.selezionaCliente(cliente)">
          Seleziona
        </button>
      </div>
    }
  </div>
</div>

