<div class="customers-list">
  <h3>Lista Clienti</h3>
  <div class="customers-grid">
    @for (cliente of this.clienteService.listaClienti(); track cliente.codice) {
      <div class="customer-card" (click)="this.carrelloService.selezionaCliente(cliente)">
        <div style="display:flex;">
          <div style="display:flex; align-items:center; flex:0 0 85%; gap:6px;">
            <span style="font-size:20px; font-weight:500;">{{ cliente.nome }} {{ cliente.cognome }}</span>
            <span style="font-size:16px">[{{ cliente.dataNascita ? calcolaEta(cliente.dataNascita) : 'N/A' }} anni]</span>
          </div>
          <div style="flex:0 0 15%">
            <div class="icons">
              @if (cliente.hasFidelityCard) {
                <mat-icon class="icon">card_membership</mat-icon>
              }
              @if (cliente.hasDisabilita) {
                <mat-icon class="icon">accessible</mat-icon>
              }
            </div>
          </div>
        </div>
        @if (cliente.idGruppo) {
          <div>
            @if (this.gruppoService.getGruppo(cliente.idGruppo)) {
              {{ 'Gruppo: ' + this.gruppoService.getGruppo(cliente.idGruppo)!.nome + ' (' + this.gruppoService.getGruppo(cliente.idGruppo)!.arClienti.length + ' persone)' }}
            }
          </div>
        }
      </div>
    }
    @empty {
      <p>Nessun cliente trovato</p>
    }
  </div>
</div>
