.customers-list {
  overflow-y: auto;
  height: calc(100% - 68px);
}

.customer-card {
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff8f0;
  border-radius: 12px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #fff5eb;
  }

  .customer-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  .customer-text {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .customer-name {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 4px;
  }

  .customer-info {
    font-size: 14px;
    color: #555;
  }

  .customer-icons {
    display: flex;
    gap: 8px;
    font-size: 20px;
  }

  .customer-group {
    font-size: 14px;
    color: #777;
  }

  .select-button {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-family: 'Lexend', sans-serif !important;

    &:hover {
      background-color: #a00;
    }
  }
}
