<div class="pizza-list">
  <h3>Lista Pizze</h3>
  <div class="pizza-grid">
    @for (pizza of pizzaService.listaPizze(); track pizza.codice) {
      <div class="pizza-card" (click)="this.carrelloService.selezionaPizza(pizza)">
        <div style="display: flex; align-items: center; justify-content: space-between;">
          <span style="font-size: 20px; font-weight: 500;">{{ pizza.nome }}</span>
          <span style="font-size: 16px;">{{ pizza.prezzo | currency: 'EUR' }}</span>
        </div>
      </div>
    }
    @empty {
      <p>Nessuna pizza trovata</p>
    }
  </div>
</div>
