<div style="height: calc(100vh - 72px); padding: 36px; display: flex; gap: 16px;">
  <div style="width: 30%;">
    <app-cliente-form></app-cliente-form>
  </div>
  <div style="width: 70%; display: flex; flex-direction: column; gap: 16px; height: 100%;">
    <div style="display: flex; flex: 1; gap: 16px; max-height: 70%;">
      <div style="flex: 1; overflow-y: auto;">
        <app-cliente-lista></app-cliente-lista>
      </div>
      <div style="flex: 1; overflow-y: auto;">
        <app-pizza-menu></app-pizza-menu>
      </div>
    </div>
    <div style="flex: 0 0 30%; overflow-y: auto;" class="card-carrello">
      <app-carrello></app-carrello>
    </div>
  </div>
</div>
