<div style="height: 100vh; display: flex;">
  <div style="width:70%; padding: 32px; display: flex; justify-content: space-between;">
    <app-cliente-form style="flex: 0 0 calc(30% - 16px);background-color:#fffaf5"></app-cliente-form>
    <app-cliente-lista style="flex: 0 0 30%; overflow-y: auto;background-color:#fff5e6"></app-cliente-lista>
    <app-pizza-menu style="flex: 0 0 calc(40% - 16px); overflow-y: auto;background-color:#fef9f2"></app-pizza-menu>
  </div>
  <div style="width: 25%; background-color: #fff8f0; padding: 16px;
    overflow-y: auto; border-left:1px solid #c0c0c0;">
    <app-carrello></app-carrello>
  </div>
</div>
