<!---
git add .
git commit -m "allineamento"
git push
ng build --configuration production --base-href /tc-helicon-perform-ve-editor/
ng deploy

# Per PAGES
ng build --base-href /nanosystem/
ngh --dir=dist/pizza-ordine-app/browser
--->
<div class="page-container">
  <header class="page-header">
    <h2>Pizza Order</h2>
    <span>v.0.1.1</span>
  </header>
  <main class="content-area">
    <div class="main-columns">
      <app-cliente-form class="main-column cliente-form-col"></app-cliente-form>
      <app-cliente-lista class="main-column cliente-lista-col"></app-cliente-lista>
      <app-pizza-menu class="main-column pizza-menu-col"></app-pizza-menu>
    </div>
    <aside class="cart-sidebar">
      <app-carrello></app-carrello>
    </aside>
  </main>
</div>