<h3>Aggiungi un nuovo cliente</h3>
<form [formGroup]="clienteForm" (ngSubmit)="aggiungiCliente()" class="customer-form">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cognome</mat-label>
    <input matInput formControlName="cognome" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data di Nascita</mat-label>
    <input matInput [matDatepicker]="selettoreDataNascita" formControlName="dataNascita" required>
    <mat-datepicker-toggle matSuffix [for]="selettoreDataNascita"></mat-datepicker-toggle>
    <mat-datepicker #selettoreDataNascita></mat-datepicker>
  </mat-form-field>

  <section>
    <mat-slide-toggle style="margin:6px 0" formControlName="hasFidelityCard">
      Carta Fedeltà
    </mat-slide-toggle>
  </section>

  <section>
    <mat-slide-toggle style="margin:6px 0" formControlName="hasDisabilita">
      Disabile
    </mat-slide-toggle>
  </section>

  <!-- <mat-form-field>
    <mat-label>Gruppo</mat-label>
    <mat-select formControlName="idGruppo">
      <mat-option *ngFor="let gruppo of gruppoService.listaGruppi()" [value]="gruppo.codice">
        {{ gruppo.nome }} ({{ gruppo.arClienti.length }} persone)
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <button mat-raised-button color="primary" type="submit" [disabled]="clienteForm.invalid">
    Aggiungi Cliente
  </button>
</form>

<div>
  {{this.scontiText}}
</div>
